.page-participate
  @extend .page-standard
  +mobile
    padding: 2em 0 0 0
    .container.box
      border-radius: 0
  .tabs
    +mobile
      font-size: 1.25em
      a
        padding: 0.5em 0em
    @media(max-width: 440px)
      .icon
        display: none
    @media(max-width: 380px)
      font-size: 1em
      
  .checkbox
    display: block
  .btn-send
    width: 100%
  .container
    max-width: 865px