.page-go-further
  padding: 3em
  .title
    font-family: 'Bebas'
    color: white
    font-weight: bold
    &.is-1
      text-shadow: 0px 0px 1px $grey-dark
      font-size: 5em
    &.is-2
      @extend .box
      background: $red-invert
      color: $red
  .column
    border-top: 5px dashed white
    padding: 3em 0.75em
    margin-top: 2em
    +tablet-only
      margin: 0 auto
    +mobile
      padding: 3em 0em
    .panel
      background: $white-bis
    .panel-block:hover
      @extend .panel-block.is-active
    .panel-tabs
      font-size: 1.1em
    //p
      //font-size: 2em
      //max-width: 400px
      //margin: 0 auto
      //color: $white
      //.icon
      //  color: $red