.page-go-further
  @extend .page-standard
  .title.is-2
    @extend .box
    background: $red-invert
    color: $red
  .column
    border-top: 5px dashed white
    padding: 3em 0.75em
    margin-top: 2em
    +tablet-only
      margin: 0 auto
    +mobile
      padding: 3em 0em
    .panel
      background: $white-bis
    .panel-block:hover
      @extend .panel-block.is-active
    .panel-tabs
      font-size: 1.1em
      @media(max-width: 450px)
        font-size: 0.95em
      @media(max-width: 370px)
        font-size: 0.85em
