.contribution.card
  border-radius: 3px
  .card-content
    +mobile
      padding: 0.5em
    +tablet
      padding: 0.75em
    .title.is-5
      font-size: 1.5em

  .facts
    margin-bottom: 2px
    .columns
      margin-bottom: 0
      .column
        flex-basis: auto
        padding-bottom: 0
        padding-top: 0
        &.separator
          width: 1%
    .message
      margin: 5px 1px
      word-wrap: break-word
      &:last-child
        margin-bottom: 0
      +mobile
        .message-body
          padding: 0.5em
      ul
        list-style: inside

  .video
    width: 100% !important
    height: 100% !important
    background: $black
    &> div
      position: relative
      padding-bottom: 52.1%
      padding-top: 25px
      height: 0
      iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

  .card-footer
    border-top: none
    flex-direction: column
    flex-wrap: wrap
  .button
    border-radius: 0
    &:not(:last-child)
      border-right: 1px solid $border