.contribution.card
  .card-footer
    flex-direction: column
    .image
      padding: 0
      img
        position: relative
    .facts
      margin-bottom: 2px
      .columns
        margin-bottom: 0
        .column
          flex-basis: auto
      .message
        margin: 5px 4px
  .contribution-actions
    flex-direction: row
    .button
      margin: 0
      border: 0
      &:not(:last-child)
        border-right: 1px solid $border